[submodule "themes/next"]
	path = themes/next
	url = https://github.com/juncaixinchi/hexo-theme-next.git
[submodule "themes/material-flow"]
	path = themes/material-flow
	url = git@github.com:juncaixinchi/hexo-theme-material-flow.git
