[submodule "themes/next"]
	path = themes/next
	url = https://github.com/juncaixinchi/hexo-theme-next.git
[submodule "themes/yilia"]
	path = themes/yilia
	url = git@github.com:juncaixinchi/hexo-theme-yilia.git
[submodule "themes/yelee"]
	path = themes/yelee
	url = https://github.com/MOxFIVE/hexo-theme-yelee.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/tufu9441/maupassant-hexo.git
[submodule "themes/material-flow"]
	path = themes/material-flow
	url = git@github.com:juncaixinchi/hexo-theme-material-flow.git
[submodule "themes/material"]
	path = themes/material
	url = git@github.com:juncaixinchi/hexo-theme-material.git
